/.env
.idea
/database/current_request_database/processed_request.json
/database/history.db
/bot/
/bot/Lib/site-packages/
/bot/Lib/site-packages/_distutils_hack/
/bot/Lib/site-packages/certifi/
/bot/Lib/site-packages/certifi-2022.12.7.dist-info/
/bot/Lib/site-packages/charset_normalizer/
/bot/Lib/site-packages/charset_normalizer-2.1.1.dist-info/
/bot/Lib/site-packages/dotenv/
/bot/Lib/site-packages/idna/
/bot/Lib/site-packages/idna-3.4.dist-info/
/bot/Lib/site-packages/langdetect/
/bot/Lib/site-packages/langdetect-1.0.9-py3.10.egg-info/
/bot/Lib/site-packages/pip/
/bot/Lib/site-packages/pip-22.3.1.dist-info/
/bot/Lib/site-packages/pkg_resources/
/bot/Lib/site-packages/pyTelegramBotAPI-4.9.0-py3.10.egg-info/
/bot/Lib/site-packages/python_dotenv-0.21.0.dist-info/
/bot/Lib/site-packages/requests/
/bot/Lib/site-packages/requests-2.28.1.dist-info/
/bot/Lib/site-packages/setuptools/
/bot/Lib/site-packages/setuptools-63.2.0.dist-info/
/bot/Lib/site-packages/six-1.16.0.dist-info/
/bot/Lib/site-packages/telebot/
/bot/Lib/site-packages/urllib3/
/bot/Lib/site-packages/urllib3-1.26.13.dist-info/
/bot/Lib/site-packages/distutils-precedence.pth
/bot/Lib/site-packages/six.py

